<p class="date-str">{{ dateStr | timeSince }} ago</p>
<p class="date-obj">{{ dateObj | timeSince }} ago</p>
<p class="date-num">{{ dateNum | timeSince }} ago</p>

<p class="date-years">{{ dateYears | timeSince }} ago</p>
<p class="date-year">{{ dateYear | timeSince }} ago</p>
<p class="date-months">{{ dateMonths | timeSince }} ago</p>
<p class="date-month">{{ dateMonth | timeSince }} ago</p>
<p class="date-days">{{ dateDays | timeSince }} ago</p>
<p class="date-day">{{ dateDay | timeSince }} ago</p>
<p class="date-hours">{{ dateHours | timeSince }} ago</p>
<p class="date-hour">{{ dateHour | timeSince }} ago</p>
<p class="date-mins">{{ dateMins | timeSince }} ago</p>
<p class="date-min">{{ dateMin | timeSince }} ago</p>
<p class="date-secs">{{ dateSecs | timeSince }} ago</p>
<p class="date-sec">{{ dateSec | timeSince }} ago</p>

<p class="date-invalid">{{ dateInvalid | timeSince }} ago</p>
